package layouts

import (
	"williamsLab/views/components"
	"williamsLab/views/components/templui/dropdown"
	"williamsLab/views/components/templui/popover"
	"williamsLab/views/components/templui/dialog"
	"williamsLab/views/components/templui/copybutton"
)

templ BaseLayout(page string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Williams Lab | { page }</title>
			<link rel="icon" href="/static/assets/img/favicon.ico"/>
			<link rel="stylesheet" href="/static/css/styles.css"/>
			<script defer src="/static/js/alpine.min.js"></script>
			<script src="/static/js/htmx.min.js"></script>
			@copybutton.Script()
			@dialog.Script()
			@dropdown.Script()
			@popover.Script()
		</head>
		<body id="contents" hx-boost="true">
			<header class="bg-unc-blue flex px-12 lg:px-64 mb-6 top-0 sticky">
				<a class="cursor-pointer inline-flex mr-auto" href="/" hx-get="/" hx-target="#contents" hx-push-url="/">
					<img src="/static/assets/img/1Dspectrum_black.png" class="h-8 invert saturate-100 brightness-0 mr-4"/>
					<div class="hidden lg:block text-nowrap overflow-hidden text-white text-2xl font-bold">
						Williams Lab
					</div>
				</a>
				@components.Nav(page)
			</header>
			<main class="flex flex-col px-12 lg:px-64">
				@components.Hero(page)
				<hr class="my-6"/>
				{ children... }
			</main>
			<hr class="m-6"/>
			<footer class="px-12 lg:px-64">
				@components.Footer()
			</footer>
		</body>
	</html>
}
