package layouts

import "williamsLab/views/components"

templ BaseLayout(page string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Williams Lab | { page }</title>
			<link rel="icon" href="/static/assets/img/favicon.ico"/>
			<link rel="stylesheet" href="/static/css/styles.css"/>
			<script defer src="/static/js/alpine.min.js"></script>
			<script src="/static/js/htmx.min.js"></script>
		</head>
		<body id="contents">
			<header class="bg-unc-blue flex px-64 mb-6">
				<div class="mr-4">
					<img src="/static/assets/img/1Dspectrum_black.png" class="h-8 invert saturate-100 brightness-0"/>
				</div>
				<div class="hidden lg:block text-nowrap overflow-hidden mr-auto text-white text-2xl font-bold">
					Williams Lab
				</div>
				@components.Navbar(page)
			</header>
			<main class="px-64">
				{ children... }
			</main>
			<hr class="m-6"/>
			<footer class="px-64">
				@components.Footer()
			</footer>
		</body>
	</html>
}
