package components

import (
	"williamsLab/utils"

	"github.com/pocketbase/pocketbase/core"
)

templ text(text string) {
	@utils.ParseHTML(text)
}

templ imageLeft(rec *core.Record) {
	<div class="flex flex-row">
		<div class="basis-1/2 mr-2">
			@Image(rec.ExpandedOne("images"))
		</div>
		<div class="basis-1/2 ml-2">
			@text(rec.GetString("content"))
		</div>
	</div>
}

templ imageRight(rec *core.Record) {
	<div class="flex flex-row">
		<div class="basis-1/2 mr-2">
			@text(rec.GetString("content"))
		</div>
		<div class="basis-1/2 ml-2">
			@Image(rec.ExpandedOne("images"))
		</div>
	</div>
}

templ imageTable(rec *core.Record) {
	<div class="grid grid-cols-3 gap-4">
		for _, img := range rec.ExpandedAll("images") {
			<div class="relative">
				@Image(img)
			</div>
		}
	</div>
}

templ heading(text string) {
	<h1 class="mb-2" id={ text[:5] }>{ text }</h1>
}

func Block(rec *core.Record) templ.Component {
	if rec.Get("type") == nil {
		return heading(rec.GetString("topic"))
	}
	switch rec.GetString("type") {
	case "text":
		return text(rec.GetString("content"))
	case "image":
		return Image(rec.ExpandedOne("images"))
	case "imageLeft":
		return imageLeft(rec)
	case "imageRight":
		return imageRight(rec)
	case "imageTable":
		return imageTable(rec)
	}
	return nil
}
