package components

import (
	"strings"
	"fmt"

	"williamsLab/views/components/templui/button"

	"golang.org/x/text/cases"
	"golang.org/x/text/language"
)

var routes = []string{"/research", "/publications", "/about"}

func buttonLabel(path string) string {
	return cases.Title(language.English, cases.Compact).String(strings.TrimLeft(path, "/"))
}

func checkPath(path string, page string) string {
	if buttonLabel(path) == page {
		return "current"
	} else {
		return ""
	}
}

templ navButton(path string, page string) {
	@button.Button(button.Props{
		Href:  path,
		Class: fmt.Sprintf("dark %s focus-visible:ring-0 focus-visible:border-b-4 focus-visible:border-b-black rounded-none hover:bg-unc-blue-alt hover:text-white", checkPath(path, page)),
		Attributes: map[string]any{
			"hx-get":      path,
			"hx-target":   "#contents",
			"hx-push-url": path,
		}}) {
		{ buttonLabel(path) }
	}
}

templ Nav(page string) {
	<nav class="hidden lg:flex">
		<ul class="flex">
			for _, path := range routes {
				<li>
					@navButton(path, page)
				</li>
			}
		</ul>
	</nav>
}
