package components

import (
	"strings"
	"fmt"

	"williamsLab/views/components/templui/button"

	"golang.org/x/text/cases"
	"golang.org/x/text/language"
	"williamsLab/views/components/templui/sheet"
	"williamsLab/views/components/templui/icon"
)

var routes = []string{"/research", "/publications", "/about"}

func buttonLabel(path string) string {
	return cases.Title(language.English, cases.Compact).String(strings.TrimLeft(path, "/"))
}

func checkPath(path string, page string) string {
	if buttonLabel(path) == page {
		return "current"
	} else {
		return ""
	}
}

templ navButton(path string, page string) {
	@button.Button(button.Props{
		Href:  path,
		Class: fmt.Sprintf("dark %s focus-visible:ring-0 focus-visible:border-b-4 focus-visible:border-b-black rounded-none hover:bg-unc-blue-alt hover:text-white", checkPath(path, page)),
		Attributes: map[string]any{
			"hx-get":      path,
			"hx-target":   "#contents",
			"hx-push-url": path,
		}}) {
		{ buttonLabel(path) }
	}
}

templ Nav(page string) {
	<nav class="hidden lg:flex">
		<ul class="flex">
			for _, path := range routes {
				<li>
					@navButton(path, page)
				</li>
			}
		</ul>
	</nav>
	<nav class="flex lg:hidden">
		@sheet.Sheet(sheet.Props{
			ID:    "mobile-nav",
			Side:  sheet.SideTop,
		}) {
			@sheet.Trigger(sheet.TriggerProps{}) {
				@button.Button(button.Props{
					Variant: button.VariantLink,
					Size:    button.SizeIcon,
				}) {
					@icon.Menu(icon.Props{Color: "white"})
				}
			}
			@sheet.Content() {
				@sheet.Header() {
					@sheet.Title(sheet.TitleProps{
						Class: "text-center",
					}) {
						Williams Lab
					}
					@sheet.Close() {
						<div class="flex flex-col py-4 self-center text-center [&>a]:hover:text-unc-blue">
							<a href="/" hx-get="/" hx-target="#contents" hx-push-url="/">Home</a>
							for _, path := range routes {
								<a href={ path } hx-get={ path } hx-target="#contents" hx-push-url={ path }>{ buttonLabel(path) }</a>
							}
						</div>
					}
				}
			}
		}
	</nav>
}
