package components

import "williamsLab/views/components/templui/button"
import "strings"
import "golang.org/x/text/cases"
import "golang.org/x/text/language"
import "fmt"

var routes = []string{"/", "/research", "/publications", "/about"}

func buttonLabel(path string) string {
	if path == "/" {
		return "Home"
	}
	return cases.Title(language.English, cases.Compact).String(strings.TrimLeft(path, "/"))
}

func checkPath(path string, page string) string {
	if buttonLabel(path) == page {
		return "current"
	} else {
		return ""
	}
}

templ navButton(path string, page string) {
	@button.Button(button.Props{
		Class: fmt.Sprintf("dark %s focus-visible:ring-0 focus-visible:border-b-4 focus-visible:border-b-black rounded-none hover:bg-unc-blue-alt hover:text-white", checkPath(path, page)),
		Href:  path,
		Attributes: map[string]any{
			"@click": "placeholder",
		}}) {
		{ buttonLabel(path) }
	}
}

templ Navbar(page string) {
	<nav class="hidden lg:flex">
		<ul class="flex">
			for _, path := range routes {
				<li>
					@navButton(path, page)
				</li>
			}
		</ul>
	</nav>
}
