package pages

import (
	"williamsLab/views/layouts"
	"williamsLab/utils"
	"github.com/pocketbase/pocketbase/core"
	"williamsLab/views/components"
)

templ activeMember(member *core.Record) {
	<div class="inline-flex">
		<img class="basis-1/2 object-scale-down w-full max-h-[500px] mr-2" src={ "/api/files/" + member.Collection().Id + "/" + member.Id + "/" + member.GetString("picture") }/>
		<div class="basis-1/2 ml-4 [&>ul]:list-disc">
			@utils.ParseHTML(member.GetString("description"))
		</div>
	</div>
}

templ alums(alum *core.Record) {
	<div>
		<span>{ alum.GetString("name") }</span>
	</div>
}

templ AboutPage(members []*core.Record, alumni []*core.Record, preamble []*core.Record) {
	@layouts.BaseLayout("About") {
		<hr class="my-6"/>
		<div>
			for _, b := range preamble {
				for _, p := range b.ExpandedAll("content") {
					@components.Block(p)
				}
			}
		</div>
		<hr class="my-6"/>
		<ul class="flex-row">
			for _, m := range members {
				<li>
					@activeMember(m)
				</li>
			}
		</ul>
		<hr class="my-6"/>
		for _, a := range alumni {
			@alums(a)
		}
	}
}
