package pages

import (
	"williamsLab/views/layouts"

	"github.com/pocketbase/pocketbase/tools/router"
)

templ ErrorPage(err *router.ApiError) {
	@layouts.BaseLayout("Error") {
		<h1>{ err.Status }</h1>
		<h2>{ err.Message }</h2>
	}
}
