package pages

import (
	"williamsLab/views/components"
	"williamsLab/views/layouts"

	"github.com/pocketbase/pocketbase/core"
)

templ HomePage(content []*core.Record) {
	@layouts.BaseLayout("Home") {
		<hr class="my-6"/>
		<div>
			for _, c := range content {
				for _, b := range c.ExpandedAll("content") {
					@components.Block(b)
				}
			}
		</div>
	}
}
