package pages

import (
	"time"
	"strconv"

	"williamsLab/views/layouts"
	"williamsLab/views/components"
	"williamsLab/models"

	"github.com/pocketbase/pocketbase/tools/types"
)

func parseYear(d string) string {
	date, _ := time.Parse(types.DefaultDateLayout, d)
	return strconv.Itoa(date.Year())
}

templ PubAbstract(path string, pub models.Publication) {
	@layouts.BaseLayout(pubTitle) {
		@components.Hero(pub.Title)
		<h1>{ parseYear(pub.Date) }</h1>
	}
}
