package pages

import (
	"williamsLab/views/layouts"
	"williamsLab/views/components"
	"williamsLab/models"
	"williamsLab/utils"
)

templ PubAbstract(path string, pub models.Publication) {
	@layouts.BaseLayout("Publications") {
		@components.Hero(pub.Title)
		<h1>{ utils.ParseDate(pub.Date).Year }</h1>
    <p>
        { pub.Abstract }
    </p>
	}
}
