package pages

import (
	"williamsLab/views/layouts"
	"williamsLab/models"
	"williamsLab/utils"
	"slices"
)

templ title(title string, pmid string, abstract string) {
	if abstract != "" {
		<b><a class="hover:underline" href={ "/publications/" + pmid }>{ title }</a></b>
	} else {
		<b>{ title }</b>
	}
}

templ date(d models.Date) {
	if d.Day != "01" {
		{ d.Year + " " + d.Month + " " + d.Day }
	} else {
		{ d.Year + " " + d.Month }
	}
}

templ pubListDisplay(pub models.Publication) {
	@title(pub.Title, pub.PMID, pub.Abstract)
	<p>
		{ pub.Journal } { pub.Issue }
		<span>
			<i>
				(
				@date(utils.ParseDate(pub.Date))
				)
			</i>
		</span>
		<a href={ "https://doi.org/" + pub.DOI } target="_blank" class="underline">{ pub.DOI }</a>
	</p>
}

func years(pubs []models.Publication) []string {
	var years []string
	for _, pub := range pubs {
		y := utils.ParseDate(pub.Date).Year
		if !slices.Contains(years, y) {
			years = append(years, y)
		}
	}
	return years
}

templ PublicationsPage(pubsDB []models.Publication) {
	@layouts.BaseLayout("Publications") {
		<div class="mb-6">
			preamble
		</div>
		<ul class="">
			for _, year := range years(pubsDB) {
				<a id={ year }>
					<h1>{ year }</h1>
				</a>
				for _, pub := range pubsDB {
					if utils.ParseDate(pub.Date).Year == year {
						<li class="my-4">
							@pubListDisplay(pub)
						</li>
					}
				}
			}
		</ul>
	}
}
