package pages

import (
	"time"
	"strconv"

	"williamsLab/views/layouts"
	"williamsLab/models"

	"github.com/pocketbase/pocketbase/tools/types"
)

type Date struct {
	Year  string
	Month string
	Day   string
}

func parseDate(d string) Date {
	parsed, _ := time.Parse(types.DefaultDateLayout, d)
	return Date{Year: strconv.Itoa(parsed.Year()), Month: strconv.Itoa(int(parsed.Month())), Day: strconv.Itoa(parsed.Day())}
}

templ pubListDisplay(pub models.Publication) {
	{ pub.Authors } <b><a class="cursor-pointer" hx-get={ "/publications/" + pub.PMID } hx-target="#contents" hx-push-url={ "/publications/" + pub.PMID }>{ pub.Title }</a></b> { pub.Journal }{ " " }
	<a>{ pub.DOI }</a>
	<p>{ parseDate(pub.Date).Year }</p>
}

templ PublicationsPage(pubsDB []models.Publication) {
	@layouts.BaseLayout("Publications") {
		<hr class="my-6"/>
		<div class="mb-6">
			preamble
		</div>
		<ul class="">
			for _, pub := range pubsDB {
				<li>
					@pubListDisplay(pub)
				</li>
			}
		</ul>
	}
}
