package pages

import "williamsLab/views/layouts"
import "williamsLab/views/components"

var pubTitle = "Publications"

templ PublicationsPage() {
	@layouts.BaseLayout(pubTitle) {
    @components.Hero(pubTitle)
	}
}
