package pages

import (
	"williamsLab/views/layouts"
	"williamsLab/views/components"

	"github.com/pocketbase/pocketbase/core"
)

templ ResearchPage(topics []*core.Record) {
	@layouts.BaseLayout("Research") {
		<div>
			for _, t := range topics {
				@components.Block(t)
				<div>
					for _, b := range t.ExpandedAll("content") {
						@components.Block(b)
					}
				</div>
			}
		</div>
	}
}
